# -------------------------------
# Python
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
.env
.env.*

# -------------------------------
# OS Files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Streamlit Local State
# -------------------------------
.streamlit/logs/
.streamlit/cache/
.streamlit/secrets.toml   # Never t
